# Gradle build files
.gradle/
build/
!gradle/wrapper/.gradle/
local.properties
.gradle/*
!gradle/wrapper/.gradle/*

# IDE files
.idea
/.idea/
*.project
.project
.classpath
.settings/
*.iml

# OS files
.DS_Store
Thumbs.DB
.AppleDual.store

# Encrypted Files
*.enc
salt

# Package Files
*.jar
*.war
*.ear
*.zip